{% extends "base.html" %}

{% block title %}{{ speciality }} Doctors | CarePoint{% endblock %}

{% block content %}
<section class="doctors-by-speciality">
    <h1 class="doctor-speciality">{{ speciality }}</h1>
    <hr class="specialist-underline">
    <p class="specialist-p">Highly qualified specialists ready to care for you.</p>

    <div class="doctors-grid">
        {% for doctor in doctors %}
        <div class="doctor-card">
            <img src="{{ doctor.image_url }}" alt="{{ doctor.name }}" />
            <h3>{{ doctor.name }}</h3>
            <p class="doctor-p">{{ doctor.speciality }}</p>
            <p class="doctor-p">{{ doctor.experience }}+ years experience</p>
            <p class="doctor-description">{{ doctor.description }}</p>
            <a href="{{ url_for('routes.book_doctor', doctor_id=doctor.id) }}" class="btn">Book Appointment</a>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
